@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Inter', sans-serif;
}

* {
    outline: none;
}

body {
    font-family: Inter;
    background: #242424;
    color: white;
}

button {
    border: none;
    background: none;
}

input {
    width: 100%;
    border: 1px #797979 solid;
    background: #242424;
    border-radius: 8px;
    padding: 6px 12px;
    color: #fff;
}

label {
    display: inline-block;
    width: max-content;
    padding: 4px;
    border-radius: 8px;
    background: #242424;
    transition: transform 200ms, color 200ms;
}

::placeholder {
    color: #787676;
    font-size: 15px;
}

.btn {
    border: none;
    border-radius: 12px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 12px;
}

.btn-gradient {
    transition: all .2s ease-in;
    background: linear-gradient(34deg, rgba(118, 97, 254, 1) 29%, rgba(249, 101, 145, 1) 77%);
}

.btn-gradient:hover {
    transition: all .2s ease-in;
    opacity: 0.8;
}

.game-table {
    overflow: hidden;
}

.game-table-row {
    padding: 12px 22px;
}

.game-card {
    position: relative;
    max-height: 300px;
    border: none;
    background: #3f3f3f;
    border-radius: 8px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 12px;
    padding-left: 27px;
    transition: all .3s ease-in;
}

.game-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background: linear-gradient(34deg, rgba(156, 116, 242, 1) 29%, rgba(119, 98, 255, 1) 77%);
}

.game-card.top::before {
    background: linear-gradient(34deg, rgba(118, 97, 254, 1) 29%, rgba(249, 101, 145, 1) 77%);
}


.delete-btn {
    width: 34px;
    margin: 6px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
}

.like-btn {
    display: flex;
    gap: 12px;
    margin: 7px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.game-table__col {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 16px;
}

.game-table__col-img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: linear-gradient(34deg, rgba(118, 97, 254, 1) 29%, rgba(249, 101, 145, 1) 77%);
}

.game-table__col-title {
    font-size: 16px;
    font-weight: bold;
}


.game-table__col.like {
    gap: 6px;
}

.game-table__col.like {
    margin-top: -1px;
}

.game-table__col-plus,
.game-table__col-delete {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in;
}

.game-card__plus svg {
    opacity: 0.3;
    fill: #fff;
}

.game-card__plus.active {
    animation: size .3s;
}

.game-card__plus.active svg {
    opacity: 1;
    fill: #e375b5;
    transition: all .2s ease-in;
}

.game-card-like__count {
    color: #fff;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.delete-btn svg path {
    opacity: 0.3;
}

.delete-btn:hover svg path {
    opacity: 1;
    stroke: rgb(247, 104, 104) !important;
}

.add-btn {
    margin-bottom: 20px;
}

@keyframes size {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.footer {
    border-top: 1px #ffffff33 solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.footer-date,
.footer-reset {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: 14px;
    opacity: 0.3;
}

.modal-content {
    background: #242424 !important;
    padding: 12px;
}

.modal-header {
    padding: 0;
    border: none;
    margin-bottom: 28px;
}

.modal-body {
    padding: 0;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-inputs {
    margin-bottom: 26px;
    display: contents;
}

.modal-inputs input[type=text]+label {
    color: #787676;
    font-size: 14px;
    transform: translateY(-34px) translateX(8px);
}

.modal-inputs input[type=text]:focus+label,
.modal-inputs input[type=text]:not(:placeholder-shown)+label {
    transform: translateY(-56px) translateX(8px);
    font-weight: bold;
    color: #fff;
}


.modal {
    background: #0c0c0cd6;
}

.radio-text {
    margin-bottom: 14px;
    color: #797979;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 26px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid #797979;
    border-radius: 10px;
    color: #787676;
    user-select: none;
    font-size: 14px;
    padding-top: 2px;
}

.form_radio_btn input[type=radio]:checked+label {
    color: #fff;
    background: #3f3f3f;
}

.form_radio_btn label:hover {
    color: #666;
}

.form_radio_btn input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
}

.select2 {
    width: 100% !important;
    margin-bottom: 26px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px #797979 solid;
    background: #242424;
    border-radius: 8px;
    padding: 6px 12px;
    width: 100%;
    color: #fff;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px #797979 solid;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
    padding: 0;
}

.select2-container .select2-search--inline .select2-search__field {
    height: 23px;
    margin: 0;
}

.select2-dropdown {
    border-radius: 8px;
    background: #242424;
    z-index: 10000;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: linear-gradient(34deg, rgba(118, 97, 254, 1) 29%, rgba(249, 101, 145, 1) 77%);
}

.select2-container--default .select2-results__option--selected {
    background: #3f3f3f;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: none;
    color: #fff;
    font-size: 15px;
    height: 100%;
    padding: 0px 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #3f3f3f;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    color: #fff;
}